[*.cs]

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none
